<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.enhancedaging">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/en_logo18"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnhancedAging"
        tools:targetApi="31">
        <activity
            android:name=".DisplayPres"
            android:exported="false" />
        <activity
            android:name=".DisplayActivity"
            android:exported="false" />
        <activity
            android:name=".Prescription"
            android:exported="false" />
        <activity
            android:name=".Reports_Med"
            android:exported="false" />
        <activity
            android:name=".ProfileViewFam"
            android:exported="false" />
        <activity
            android:name=".EmailpassFam"
            android:exported="false" />
        <activity
            android:name=".Family_Pre_Signup"
            android:exported="false" />
        <activity android:name=".FullscreenImageActivity" />
        <activity
            android:name=".FamilyDashboard"
            android:exported="false" />
        <activity
            android:name=".ElderSignupPre"
            android:exported="false" />
        <activity
            android:name=".PhoneAuth"
            android:exported="false" />
        <activity
            android:name=".EmailPass"
            android:exported="false" />

        <activity
            android:name=".FamilyMain"
            android:exported="false" />
        <activity
            android:name=".tabletmain"
            android:exported="false" />
        <activity
            android:name=".MedicInner"
            android:exported="false" />
        <activity
            android:name=".MedicationManagement"
            android:exported="false" />
        <activity
            android:name=".EmergencyResponse"
            android:exported="false" />
        <activity
            android:name=".MessageDetail"
            android:exported="false" />
        <activity
            android:name=".Messenger"
            android:exported="false" />
        <activity
            android:name=".ProfileView"
            android:exported="false" />
        <activity
            android:name=".DisplayHealth"
            android:exported="false" />
        <activity
            android:name=".Menu_1"
            android:exported="false" />
        <activity
            android:name=".TrackingHealth"
            android:exported="false" />
        <activity
            android:name=".Chatbot"
            android:exported="false" />
        <activity
            android:name=".chatbot.ChatbotMain"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".FamilySignUp"
            android:exported="false" />
        <activity
            android:name=".ElderSignUp"
            android:exported="false" />
        <activity
            android:name=".LoginFam"
            android:exported="false" />
        <activity
            android:name=".LoginEld"
            android:exported="false" />


        <activity
            android:name=".MainActivity2"
            android:exported="false" />

        <activity
            android:name=".fall_detection.MainActivity4"
            android:exported="true">


        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>